---
layout: base.njk
title: Awesome Thew
description: Awesome tools / resources curated by Thew Dhanat for programmer, web developer, software engineer, data scientist, and machine learning engineer.
---

<header class="w-full max-w-screen-xl mx-auto my-4 px-4">
  <a href="/awesome"><h1 class="text-4xl font-bold mb-2">Awesome Thew</h1></a>
  <p class="mb-2">
    Awesome tools / resources curated by
    <strong><a class="underline" href="/">Thew Dhanat</a></strong
    >.
  </p>
  <p class="mb-2">
    Inspired by
    <a class="underline" href="https://www.swyx.io/writing/learn-in-public/"
      >Learn In Public</a
    >,
    <a class="underline" href="https://github.com/sw-yx/spark-joy">spark-joy</a>
    and
    <a class="underline" href="https://github.com/wesbos/awesome-uses">uses</a>.
  </p>
</header>
{{ content | safe }}
