<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Dhanat Satta-awalo" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <title>{{ title }} | Thew Dhanat</title>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>