<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Dhanat Satta-awalo" />
    <link rel="stylesheet" type="text/css" href="/index.css?v={% hash %}" />
    <title>{{ title }} | Thew Dhanat</title>
  </head>
  <body>
    <main class="sm:w-3/5 mx-auto my-32 px-6">
      {{ content | safe }}
    </main>
  </body>
</html>