---
layout: base.njk
---

<header class="w-full sm:w-4/5 lg:w-3/5 mx-auto my-4 px-6">
    <h1 class="text-xl">
        <a href="/blog">
            Thew Dhanat's Blog
        </a>
    </h1>
</header>
<main class="w-full sm:w-4/5 lg:w-3/5 my-4 mx-auto px-6">
    <div class="flex flex-col md:flex-wrap-reverse md:flex-row justify-between items-baseline">
        <h1 class="text-5xl font-extrabold order-2 md:order-1 text-indigo-700">{{ title }}</h1>
        <p class="order-1 md:order-2 opacity-75">{{ page.date | readableDate}}</p>
    </div>
    <div class="prose my-4 mx-auto">
        {{ content | safe }}
    </div>
</main>