@tailwind base;

@tailwind components;

@tailwind utilities;

.prose a[href^="//"]:not(.no-external-icon)::after,
.prose a[href^="http://"]:not(.no-external-icon)::after,
.prose a[href^="https://"]:not(.no-external-icon)::after
{
  content: "↗";
  font-family: system-ui, -apple-system, sans-serif;
  @apply font-black text-indigo-600 leading-3 pl-px;
}

.prose a[href^="//"]:hover::after,
.prose a[href^="//"]:active::after,
.prose a[href^="//"]:focus::after,
.prose a[href^="http://"]:hover::after,
.prose a[href^="http://"]:active::after,
.prose a[href^="http://"]:focus::after,
.prose a[href^="https://"]:hover::after,
.prose a[href^="https://"]:active::after,
.prose a[href^="https://"]:focus::after
{
  @apply text-indigo-800;
}

.prose a:not(.header-anchor) span,
.prose a:hover span,
.prose a:active span,
.prose a:active span {
  text-decoration: underline;
}

.prose a.header-anchor {
  font-weight: inherit;
}

img.twemoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline-block;
}

speedlify-score {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* The Lighthouse scoring circles */
.speedlify-score {
  font-size: 0.8125em; /* 13px /16 */
  width: 2.6em;
  height: 2.6em;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid #0cce6b;
  color: #088645;
  margin-left: 0.4615384615385em; /* 6px /13 */
}
.speedlify-score-ok {
  color: #ffa400;
  border-color: currentColor;
}
.speedlify-score-bad {
  color: #ff4e42;
  border-color: currentColor;
}
.speedlify-rank:before {
  content: "Rank #";
}
.speedlify-rank-change {
  font-size: 0.8125em; /* 13px /16 */
}
.speedlify-rank-change:before {
  line-height: 1;
}
.speedlify-rank-change.up {
  color: green;
}
.speedlify-rank-change.up:before {
  content: "⬆";
}
.speedlify-rank-change.down {
  color: red;
}
.speedlify-rank-change.down:before {
  content: "⬇";
}
speedlify-score > :not(.speedlify-score) {
  margin-left: 0.625em; /* 10px /16 */
}
speedlify-score > :first-child {
  margin-left: 0;
}

.bmc-btn svg {
  height: 2rem;
  margin-bottom: 0px;
  box-shadow: none;
  border: none;
  vertical-align: middle;
  transform: scale(0.9);
}

.bmc-btn {
  border: 0.125rem solid #5f7fff;
  height: 60px;
  border-radius: 12px;
  font-size: 1.5rem;
  font-weight: Normal;
  padding: 0px 1.25rem;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  font-family: "Cookie", cursive;
}

.bmc-btn-text {
  margin-left: 8px;
  display: inline;
  line-height: 0;
}

.logo-outline {
  fill: #000000;
}

.logo-coffee {
  fill: #ffdd00;
}
