---
layout: base.njk
title: Not found
ogImage: /
---

<main class="flex flex-col items-center justify-center">
  <h1 class="my-8 text-2xl font-semibold">Page not found</h1>
  <iframe class="max-w-full" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  <h2 class="my-8 text-4xl leading-normal">{% twemoji "😉" %}</h2>
</main>