---
title: Dhanat Satta-awalo CV
description: Dhanat Satta-awalo Curriculum vitae
---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="theme-color" content="#3B82F6">
<meta name="author" content="Dhanat Satta-awalo" />
<link rel="canonical" href="https://www.thewdhanat.com{{ page.url }}" />
{# {% loadcss "src/_styles/index.css" %} #}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<style>
    {% parseCVcss %}
        {% fetchInline "https://fonts.googleapis.com/css2?family=Sarabun&display=swap" %}
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
    {% endparseCVcss %}
</style>
<meta property="og:title" content="{{ title }}" />
<meta property="og:type" content="profile" />
<meta property="profile:first_name" content="Dhanat" />
<meta property="profile:last_name" content="Satta-awalo" />
<meta property="og:url" content="https://www.thewdhanat.com{{ page.url }}" />
<meta property="og:image" content="https://www.thewdhanat.com/og-image.png?path={{ ogImage | default(page.url) }}" />
<meta name="twitter:card" content="summary_large_image">
<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
<link rel="manifest" href="/static/site.webmanifest">
{% partytown %}
partytown = {
forward: [],
};
{% endpartytown %}
</head>
<body class="font-body container mx-auto max-w-screen-lg p-4">
    <p>Dhanat Satta-awalo</p>
</body>
</html>
