---
layout: base.njk
title: Privacy
---

<main class="sm:w-4/5 lg:w-3/5 mx-auto my-4 px-6">
  <h1 class="text-2xl font-bold mb-2">Thew Dhanat Privacy Statement</h1>
  <p>Last updated: April 1, 2022</p>
  <section class="mt-4 mb-8 space-y-4">
    <p>
      Thanks for visiting my website (https://www.thewdhanat.com). As a
      developer and technology enthusiast, I take the privacy and security of
      your information seriously.
    </p>
    <h2 class="text-lg font-medium">What information do I collect</h2>
    <p>
      Personal Information is any information that is related to an identified
      or identifiable natural person.
    </p>
    <ul class="list-disc ml-4 space-y-2">
      <li>
        I may receive personal information directly from you based on your
        interactions with my website for the website basis function and cannot
        be switched off. I process any strictly necessary data based on
        legitimate interest.
      </li>
      <li>
        I use Google Analytics, which places a cookie on your device, to obtain
        data on how you engage with my website. I may automatically collect your
        interactions by sending data to Google Analytics. You can review
        information for visitors of sites using Google Analytics:
        <a
          class="underline"
          href="https://support.google.com/analytics/answer/6004245"
          >https://support.google.com/analytics/answer/6004245</a
        >. In short, you can prevent data collection from Google Analytics by
        installing the
        <a href="https://tools.google.com/dlpage/gaoptout" class="underline">
          Google Analytics Opt-out Browser Add-on</a
        >.
      </li>
      <li>
        I use Vercel, which may automatically collect your IP address, system
        configuration information, and other information about traffic to and
        from my websites (collectively, the "Log Data"), as well as location
        information derived from IP addresses. I may subsequently use these data
        to detect new threats, identify malicious third parties, and improve my
        website.
      </li>
    </ul>
    <h2 class="text-lg font-medium">How I use your information</h2>
    <p>
      I use usage data and device information to better understand how users use
      my website and to improve my Website. Since this website source code is
      publicly available on GitHub, you can verify how I collect and use your
      data on
      <a
        class="underline"
        href="https://github.com/ThewBear/11ty-www.thewdhanat.com"
        >this website repository</a
      >.
    </p>
    <h2 class="text-lg font-medium">How I share the information I collect</h2>
    <p>
      I share user personal information with a limited number of service
      providers who process it on my behalf to provide or improve my website.
    </p>
    <p>
      My service providers are Vercel and Google. You can review Vercel's
      <a class="underline" href="https://vercel.com/legal/privacy-policy">
        privacy policy
      </a>
      and
      <a
        class="underline"
        href="https://policies.google.com/technologies/partner-sites"
      >
        how Google uses information from sites that use their services </a
      >.
    </p>
    <h2 class="text-lg font-medium">Contact Thew</h2>
    For any inquiries, please contact me on
    <a class="underline" href="https://twitter.com/ThewDhanat">Twitter</a> or
    email me at <code>thew [at] thewdhanat.com</code>.
  </section>
</main>
