---
layout: base.njk
title: Privacy
---

<main class="sm:w-4/5 lg:w-3/5 mx-auto my-4 px-6">
  <h1 class="text-2xl font-bold mb-2">Thew Dhanat Privacy Statement</h1>
  <p>Last updated: April 16, 2021</p>
  <section class="mt-4 mb-8 space-y-4">
    <p>Thanks for visiting my website (https://www.thewdhanat.com).</p>
    <h2 class="text-lg font-medium">What information I collects</h2>
    <p>
      Personal Information is any information which is related to an identified
      or identifiable natural person.
    </p>
    <ul class="list-disc ml-4 space-y-2">
      <li>
        I may receive personal information directly from you based on your
        interaction with my website.
      </li>
      <li>
        I may automatically collect usage data for functionality and to better
        understand users interaction with my website.
      </li>
      <li>
        I may automatically collect information from cookies, and browser
        storage to remember your preferences, to identify you and your device
        and to analyze your use of our service. This information may include
        personal information.
      </li>
      <li>
        I may collect certain information about your device, such as its IP
        address, browser or client application information, language preference,
        operating system and application version, device type and ID, and device
        model and manufacturer. This information may include personal
        information.
      </li>
      <li>
        I use Google Analytics, which places a cookie on your device, to obtain
        metrics on how users engage with my website. You prevent data collection
        from Google Analytics by installing the
        <a href="https://tools.google.com/dlpage/gaoptout" class="underline">
          Google Analytics Opt-out Browser Add-on</a
        >.
      </li>
    </ul>
    <h2 class="text-lg font-medium">How I use your information</h2>
    <p>
      I use usage data and device information to better understand how users use
      my website and to improve my Website.
    </p>
    <h2 class="text-lg font-medium">How I share the information I collect</h2>
    <p>
      I share user personal information with a limited number of service
      providers who process it on my behalf to provide or improve my website.
    </p>
    <p>Our service providers are Vercel and Google.</p>
    <h2 class="text-lg font-medium">Contact Thew</h2>
    For any inquiries, please contact me on
    <a class="underline" href="https://twitter.com/ThewDhanat">Twitter</a>.
  </section>
</main>
