---
layout: base.njk
title: 😉
pagination:
  data: paths
  size: 1
paths:
  - wp-login.php
  - wp-admin
  - xmlrpc.php
  - index.php
  - login.php
  - login
permalink: /{{ pagination.items[0] }}/
ogImage: /
---

<main class="flex flex-col items-center justify-center sm:mt-20 mb-4">
  <iframe class="max-w-full" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
  <h1 class="mt-8 mb-4 text-4xl leading-normal">{% twemoji "😉" %}</h1>
  <p class="mx-4 mt-4 mb-8 text-center text-2xl font-semibold">I know what you're trying to do.</p>
</main>